@import "./styles/constants/constants";
$random-bg: random(
  $limit: 2,
);
$random-bubbles: random(
  $limit: 2,
);
.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;

  @if $random-bg== 0 {
    background-color: $trypan-blue;
  } @else if $random-bg== 1 {
    background-color: $purple;
  } @else if $random-bg== 2 {
    background-color: $persian-blue;
  }
  .bubble {
    position: absolute;
    z-index: 1;
    /** 
        TODO: 
        height must be related with vertical position > top cant be higher than (100% - height%)
        width must be related with horizontal position > left cant be higher than (100% - width%)
    */
    @if $random-bubbles== 0 {
      &#n1 {
        background-color: white;
        width: 20%;
        height: 20%;
        left: 20%;
        top: 50%;
      }
      &#n2 {
        background-color: red;
        width: 20%;
        height: 20%;
        left: 70%;
        top: 80%;
      }
      &#n3 {
        background-color: orange;
        width: 20%;
        height: 20%;
        left: 10%;
        top: 20%;
      }
    } @else if $random-bubbles== 1 {
      &#n1 {
        background-color: white;
        width: 20%;
        height: 20%;
        left: 20%;
        top: 50%;
      }
      &#n2 {
        background-color: red;
        width: 20%;
        height: 20%;
        left: 70%;
        top: 80%;
      }
      &#n3 {
        background-color: orange;
        width: 20%;
        height: 20%;
        left: 10%;
        top: 20%;
      }
    } @else if $random-bubbles== 2 {
      &#n1 {
        background-color: white;
        width: 20%;
        height: 20%;
        left: 20%;
        top: 50%;
      }
      &#n2 {
        background-color: red;
        width: 20%;
        height: 20%;
        left: 70%;
        top: 80%;
      }
      &#n3 {
        background-color: orange;
        width: 20%;
        height: 20%;
        left: 10%;
        top: 20%;
      }
    }
  }
}
